@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --ultra-rounded-border-radius: 40px;
}

* {
  font-family: Roboto !important;
}

a.defaultAnchor {
  text-decoration: none !important;

  &:hover {
    text-decoration: underline !important;
  }
}

li {
  list-style: none;
}

button.anchorStyle {
  background: none !important;
  border: none;

  padding: 0 !important;

  color: #0000EE;

  cursor: pointer;

  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.5px !important;

  font-weight: 500 !important;
}

.ultraRounded {
  border-radius: var(--ultra-rounded-border-radius) !important;
}

.v-btn {
  letter-spacing: 0 !important;

  &.v-btn--variant-outlined {
    border: 3px solid currentColor;
  }
}

.onlyForScreenReader {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.defaultPageContainer {
  background-color: rgb(var(--v-theme-container));
  border-radius: var(--ultra-rounded-border-radius);

  padding: 32px;
  margin: 8px 16px;

  position: relative;

  min-height: calc(100% - 24px);
}

.defaultWhiteCard {
  background-color: rgb(var(--v-theme-card));

  border-radius: var(--ultra-rounded-border-radius);

  padding: 32px;
}

.v-main {
  background-color: rgb(var(--v-theme-root)) !important;
}

.absoluteCentered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media(max-width: 960px) {
  .defaultPageContainer {
    border-radius: 0;

    padding: 16px;
    margin: 8px 0px 0px 0px;
  }
}